<section  class="relative overflow-hidden bg-cover bg-top bg-no-repeat">

  <%
=begin%>
 <div style="background-image: url(<%= asset_path('index_main_1.jpg') %>);" class="index-image-background">
  </div> 
<%
=end%>

  <div class="mx-auto max-w-screen-xl px-4 py-32 lg:flex lg:h-screen lg:items-center text-shadow-md">
    <div class="mx-auto max-w-xl text-center">
      <h1 class="text-3xl font-extrabold sm:text-5xl">
        Document your stuff.
        <strong class="font-extrabold text-indigo-700 sm:block"> Seriously. </strong>
      </h1>

      <p class="mt-4 sm:text-xl/relaxed">
        <strong>Think about it.</strong> <br/> <br/>
        How many things have you forgotten that you wish you had documented or saved somewhere?<br/>
        How many tasks have you wasted time on that could have been a breeze if you still had that pesky notepad file?<br/> Or that course video? Or those snippets of code?
      </p>

      <div class="mt-8 flex flex-wrap justify-center gap-4">
        <a
          class="block w-full rounded bg-indigo-600 px-12 py-3 text-sm font-medium text-white shadow hover:bg-indigo-700 focus:outline-none focus:ring active:bg-indigo-500 sm:w-auto"
          href="#"
        >
          Start now
        </a>

        <%= link_to "Learn more...", about_page_path, class: "block w-full rounded px-12 py-3 text-sm font-medium text-indigo-600 shadow hover:text-indigo-700 focus:outline-none focus:ring active:text-indigo-500 sm:w-auto" %>
      
      </div>
    </div>
  </div>
</section>